* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../images/fondopaginas.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.navbar {
  background-color: #ff9100;
  width: 100%;

  a {
    color: aliceblue;
  }
}

.imgheader {
  height: 40px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.description {
  margin-left: 90px;

  p {
    color: aliceblue;
    width: 500px;
  }
}
.imgimpresora {
  height: 500px;
  margin-right: 90px;
  opacity: 50%;
  padding: 10px;
}

footer {
  width: 100vw;
  height: auto;
  padding: 10px;
  bottom: 0;
}

.conteiner-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  h5 {
    color: aliceblue;
    font-size: small;
  }
  .linea {
    padding: 10px;
    width: 85%;
  }
  hr {
    border: 1px solid #ff9100;
    margin: auto;
  }
}

.iconfooter img {
  width: 25px;
  box-sizing: border-box;
  margin: 10px;
  filter: invert(100%);
}

.titulo {
  h1 {
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 25px;
  }
}

.linea-titulo {
  padding-bottom: 30px;

  hr {
    border: 1px;
    background-color: #ff9100;
    width: 80%;
    height: 2px;
    margin: auto;
  }
}
.conteiner-section {
  display: flex;
  justify-content: center;
}
.conteiner-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Crea 3 columnas de igual ancho */
  grid-gap: 10px; /* Espacio entre las columnas */
}
.imagen-muestra img {
  width: 300px;
}

/* Media query para reorganizar las columnas en pantallas más pequeñas */
@media (max-width: 945px) {
  .conteiner-img {
    grid-template-columns: 1fr 1fr; /* Cambia a una sola columna */
  }
}

@media (max-width: 645px) {
  .conteiner-img {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
}

.conteiner {
  color: #fff;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}

.conteiner-contact > * {
  padding: 1em;
}

.conteiner-contact {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.title-contact {
    text-align: center;
    font-size: 2em;
    color: #ff9100;
  }

  .conteiner-grupo {
    box-shadow: 0 0 20px 0 rgba(243, 207, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.795);

    form p {
        margin: 0;
        padding: 1em;
      }

      form {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      form .block {
        grid-column: 1 / 3;
      }
      form button {
        background-color: #ff9100;
        color: #fff;
        border: 0;
        text-transform: uppercase;
      }
      
  }

  .conteiner-grupo form button,
.conteiner-grupo form input,
.conteiner-grupo form textarea {
  width: 100%;
  padding: 0.5em;
  border: none;
  background: none;
  border-bottom: 1px solid #ff9100;
  outline: 0;
  color: #fff;
}
.conteiner-grupo form button:hover,
.conteiner-grupo form button:focus {
  background: #fc6f11;
  transition: background-color 1seg ease-out;
  outline: 0;
}