main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .description {
    margin-left: 90px;
  
    p {
      color: $color2;
      width: 500px;
    }
  }
  .imgimpresora {
    height: 500px;
    margin-right: 90px;
    opacity: 50%;
    padding: 10px;
  }