main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;
  }
  
  .description {
    p {
      color: $color2;
      width: 500px;
    }
  }
  .imgimpresora {
    height: 500px;
    opacity: 50%;
 
  }