/* Media query para reorganizar las columnas en pantallas más pequeñas */
@media (max-width: 945px) {
  .conteiner-img {
    grid-template-columns: 1fr 1fr; /* Cambia a una sola columna */
  }
}

@media (max-width: 645px) {
  .conteiner-img {
    grid-template-columns: 1fr; 
  }
}


@media (max-width: 945px) {
  .imgimpresora {
    height: 300px;
  }
  .description {
    p {
      color: $color2;
      width: 200px;
      margin-top: 5%;
    }
  }
}

@media (max-width: 645px) {
  main {
    grid-template-columns: 1fr;
  }
  .description {
    p {
      color: $color2;
      width: 400px;
      margin-top: 5%;
    }
  }
  
}
